{% if collection_exists %}
<div class="d-flex flex-column mb-5">
    <h4>Add Source</h4>
    <form action="/include_source" method="post" enctype="multipart/form-data" class="d-flex flex-column">
        <input class="form-control" type="file" id="include-file" name="file">
        <div class="text-center mt-1 mb-1">or</div>
        <input type="website" class="form-control" id="include-url" name="include-url" placeholder="Website URL" autocomplete="off">
        <button type="submit" class="btn btn-secondary mt-3" id="include-source" disabled>Include Source</button>
    </form>

    <h4 class="mt-3">Sources to Add</h4>

    {% if not sources_to_add %}
    <div class="text-secondary">Add a file or website above</div>
    {% endif %}

    <div id="input-sources-list">
        <ul>
            {% for source in sources_to_add %}
                <li>
                    {{ source }}
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if sources_to_add %}
        <a class="btn btn-outline-secondary mt-3" href="/clear_sources_to_add">Clear Sources to Add</a>
    {% endif %}

    {% if sources_to_add %}
        <form action="/add_sources" method="post" class="d-flex flex-column">
            <input type="submit" value="Submit Sources" class="btn btn-primary mt-3 mb-5" data-bs-toggle="modal" data-bs-target="#please-wait-modal">
        </form>
    {% else %}
        <a class="btn btn-primary mt-3 mb-5 disabled">Submit Sources</a>
    {% endif %}

    <div class="modal fade" id="please-wait-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Submitting Sources...</h1>
            </div>
            <div class="modal-body">
                Please wait while the sources are being processed.
            </div>
        </div>
        </div>
    </div>
</div>
{% endif %}