<h2 class="text-center">Chat</h2>
<div class="w-100 my-3 pt-3 d-flex flex-column-reverse bg-body-secondary rounded text-left overflow-auto" style="height: 60vh;">
{% for i in range(chat_items|length - 1, -1, -1) %}
    {% set item = chat_items[i] %}
    {% if item.type == "user" %}
    <div class="m-3 mt-0 p-3 bg-dark-subtle rounded">
    {{ item.message }}
    </div>
    {% elif item.type == "response" %}
    <div class="m-3 mt-0 p-3 bg-light-subtle rounded">
        {% for line in item.lines() %}
            {% if item.lines().index(line) == 0 %}
            <div class="float-end d-flex flex-column">
                <a href="/like_answer/{{ i }}" class=" link-secondary link-opacity-25-hover mb-1">
                    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 32 32">
                        <path d="M27 11h-8.52L19 9.8A6.42 6.42 0 0 0 13 1a1 1 0 0 0-.93.63L8.32 11H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h18.17a3 3 0 0 0 2.12-.88l3.83-3.83a3 3 0 0 0 .88-2.12V14a3 3 0 0 0-3-3zM4 28V14a1 1 0 0 1 1-1h3v16H5a1 1 0 0 1-1-1zm24-3.83a1 1 0 0 1-.29.71l-3.83 3.83a1.05 1.05 0 0 1-.71.29H10V12.19l3.66-9.14a4.31 4.31 0 0 1 3 1.89 4.38 4.38 0 0 1 .44 4.12l-1 2.57A1 1 0 0 0 17 13h10a1 1 0 0 1 1 1z" data-name="thumb up android app aplication phone"/>
                    </svg>
                </a>
                <a href="#" class="float-end link-secondary link-opacity-25-hover">
                    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 32 32">
                        <path d="m29.12 5.71-3.83-3.83A3 3 0 0 0 23.17 1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h3.32l3.75 9.37A1 1 0 0 0 13 31a6.42 6.42 0 0 0 6-8.8l-.52-1.2H27a3 3 0 0 0 3-3V7.83a3 3 0 0 0-.88-2.12zM4 18V4a1 1 0 0 1 1-1h3v16H5a1 1 0 0 1-1-1zm24 0a1 1 0 0 1-1 1H17a1 1 0 0 0-.93 1.37l1 2.57a4.38 4.38 0 0 1-.44 4.12 4.31 4.31 0 0 1-3 1.89L10 19.81V3h13.17a1 1 0 0 1 .71.29l3.83 3.83a1 1 0 0 1 .29.71z" data-name="thumb down android app aplication phone"/>
                    </svg>
                </a>
            </div>
            {% endif %}
            {{ line }} <br>
        {% endfor %}
    </div>
    {% endif %}
{% endfor %}
</div>

<form action="/" method="POST" class="row g-3 justify-content-center">
    <div class="col-auto flex-fill">
        <label for="inputText" class="visually-hidden">User Input</label>
        {% if waiting %}
        <input class="form-control" name="user_input" placeholder="Waiting for response..." autocomplete="off" disabled>
        {% elif not collection_exists %}
        <input class="form-control" name="user_input" placeholder="No collection to query" autocomplete="off" disabled>
        {% elif not sources %}
        <input class="form-control" name="user_input" placeholder="No sources in collection" autocomplete="off" disabled>
        {% else %}
        <input class="form-control" name="user_input" placeholder="Enter your question here" autocomplete="off" autofocus>
        {% endif %}
    </div>
    <div class="col-auto">
        {% if waiting%}
        <button type="button" class="btn btn-primary" disabled>
            <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
            </div>
        </button>
        {% elif not collection_exists or not sources %}
        <button type="submit" class="btn btn-primary mb-3" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
            </svg>
        </button>
        {% else %}
        <button type="submit" class="btn btn-primary mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
            </svg>
        </button>
        {% endif %}
    </div>
    {% if response_time != None %}
    <span class="mt-1">
        Response Time: {{ response_time|round(2) }}s
    </span>
    {% endif %}
</form>