<h2 class="text-center mb-3">Sources</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% if not collection_exists %}
<a href="/create_collection" class="btn btn-primary">Create Collection</a>
{% endif %}

{% include 'add_sources.html' %}

{% if collection_exists %}
<a href="/delete_collection" class="btn btn-outline-secondary">Delete Collection</a>
{% endif %}